In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV


%matplotlib inline

In [2]:
student_data = pd.read_csv('student-data.csv')
student_data.replace(['F', 'M', 'yes', 'no'], [1, 0, 1, 0], inplace=True)
student_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,1,18,U,GT3,A,4,4,at_home,teacher,...,0,0,4,3,4,1,1,3,6,0
1,GP,1,17,U,GT3,T,1,1,at_home,other,...,1,0,5,3,3,1,1,3,4,0
2,GP,1,15,U,LE3,T,1,1,at_home,other,...,1,0,4,3,2,2,3,3,10,1
3,GP,1,15,U,GT3,T,4,2,health,services,...,1,1,3,2,2,1,1,5,2,1
4,GP,1,16,U,GT3,T,3,3,other,other,...,0,0,4,3,2,1,2,5,4,1

In [3]:
data = pd.get_dummies(student_data.drop('passed', axis=1))
X_train, X_test, y_train, y_test = train_test_split(data, student_data.passed, random_state=1)

In [4]:
from sklearn.naive_bayes import MultinomialNB

clf1 = MultinomialNB()
clf1.fit(X_train, y_train)
print(clf1.score(X_test, y_test))

0.717171717172

In [5]:
from sklearn import svm

parameters = {'kernel': ('linear', 'rbf'), 'C': [0.5, 1, 5, 10]}
svr = svm.SVC()
clf2 = GridSearchCV(svr, parameters)
clf2.fit(X_train, y_train)
print(clf2.score(X_test, y_test))

0.727272727273

In [6]:
from sklearn.linear_model import LogisticRegression

clf3 = LogisticRegression()
clf3.fit(X_train, y_train)
print(clf3.score(X_test, y_test))

0.616161616162

In [7]:
from sklearn.tree import DecisionTreeClassifier

clf4 = DecisionTreeClassifier()
clf4.fit(X_train, y_train)
print(clf4.score(X_test, y_test))

0.616161616162

In [8]:
from sklearn.ensemble import RandomForestClassifier

clf5 = RandomForestClassifier(n_estimators=20, max_depth=5)
clf5.fit(X_train, y_train)
print(clf5.score(X_test, y_test))

0.676767676768