In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV


%matplotlib inline

In [55]:
student_data = pd.read_csv('student-data.csv')
student_data.replace(['F', 'M', 'yes', 'no'], [1, 0, 1, 0], inplace=True)
student_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,1,18,U,GT3,A,4,4,at_home,teacher,...,0,0,4,3,4,1,1,3,6,0
1,GP,1,17,U,GT3,T,1,1,at_home,other,...,1,0,5,3,3,1,1,3,4,0
2,GP,1,15,U,LE3,T,1,1,at_home,other,...,1,0,4,3,2,2,3,3,10,1
3,GP,1,15,U,GT3,T,4,2,health,services,...,1,1,3,2,2,1,1,5,2,1
4,GP,1,16,U,GT3,T,3,3,other,other,...,0,0,4,3,2,1,2,5,4,1

In [56]:
data = pd.get_dummies(student_data.drop('passed', axis=1))
X_train, X_test, y_train, y_test = train_test_split(data, student_data.passed, random_state=1)

In [57]:
from sklearn.naive_bayes import MultinomialNB

clf1 = MultinomialNB()
clf1.fit(X_train, y_train)
print(clf1.score(X_test, y_test))

0.717171717172

In [58]:
from sklearn import svm

parameters = {'kernel': ('linear', 'rbf'), 'C': [0.5, 1, 5, 10]}
svr = svm.SVC()
clf2 = GridSearchCV(svr, parameters)
clf2.fit(X_train, y_train)
print(clf2.score(X_test, y_test))

0.727272727273

In [59]:
from sklearn.linear_model import LogisticRegression

clf3 = LogisticRegression()
clf3.fit(X_train, y_train)
print(clf3.score(X_test, y_test))

0.616161616162

In [60]:
from sklearn.tree import DecisionTreeClassifier

clf4 = DecisionTreeClassifier()
clf4.fit(X_train, y_train)
print(clf4.score(X_test, y_test))

0.616161616162

In [62]:
from sklearn.ensemble import RandomForestClassifier

clf5 = RandomForestClassifier(n_estimators=20, max_depth=5)
clf5.fit(X_train, y_train)
print(clf5.score(X_test, y_test))

0.69696969697

In [53]:
help(data.replace)

Help on method replace in module pandas.core.generic:

replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad', axis=None) method of pandas.core.frame.DataFrame instance
    Replace values given in 'to_replace' with 'value'.

    Parameters
    ----------
    to_replace : str, regex, list, dict, Series, numeric, or None

        * str or regex:

            - str: string exactly matching `to_replace` will be replaced
              with `value`
            - regex: regexs matching `to_replace` will be replaced with
              `value`

        * list of str, regex, or numeric:

            - First, if `to_replace` and `value` are both lists, they
              **must** be the same length.
            - Second, if ``regex=True`` then all of the strings in **both**
              lists will be interpreted as regexs otherwise they will match
              directly. This doesn't matter much for `value` since there
              are only a few possible substitution regexes you can use.
            - str and regex rules apply as above.

        * dict:

            - Nested dictionaries, e.g., {'a': {'b': nan}}, are read as
              follows: look in column 'a' for the value 'b' and replace it
              with nan. You can nest regular expressions as well. Note that
              column names (the top-level dictionary keys in a nested
              dictionary) **cannot** be regular expressions.
            - Keys map to column names and values map to substitution
              values. You can treat this as a special case of passing two
              lists except that you are specifying the column to search in.

        * None:

            - This means that the ``regex`` argument must be a string,
              compiled regular expression, or list, dict, ndarray or Series
              of such elements. If `value` is also ``None`` then this
              **must** be a nested dictionary or ``Series``.

        See the examples section for examples of each of these.
    value : scalar, dict, list, str, regex, default None
        Value to use to fill holes (e.g. 0), alternately a dict of values
        specifying which value to use for each column (columns not in the
        dict will not be filled). Regular expressions, strings and lists or
        dicts of such objects are also allowed.
    inplace : boolean, default False
        If True, in place. Note: this will modify any
        other views on this object (e.g. a column form a DataFrame).
        Returns the caller if this is True.
    limit : int, default None
        Maximum size gap to forward or backward fill
    regex : bool or same types as `to_replace`, default False
        Whether to interpret `to_replace` and/or `value` as regular
        expressions. If this is ``True`` then `to_replace` *must* be a
        string. Otherwise, `to_replace` must be ``None`` because this
        parameter will be interpreted as a regular expression or a list,
        dict, or array of regular expressions.
    method : string, optional, {'pad', 'ffill', 'bfill'}
        The method to use when for replacement, when ``to_replace`` is a
        ``list``.

    See Also
    --------
    NDFrame.reindex
    NDFrame.asfreq
    NDFrame.fillna

    Returns
    -------
    filled : NDFrame

    Raises
    ------
    AssertionError
        * If `regex` is not a ``bool`` and `to_replace` is not ``None``.
    TypeError
        * If `to_replace` is a ``dict`` and `value` is not a ``list``,
          ``dict``, ``ndarray``, or ``Series``
        * If `to_replace` is ``None`` and `regex` is not compilable into a
          regular expression or is a list, dict, ndarray, or Series.
    ValueError
        * If `to_replace` and `value` are ``list`` s or ``ndarray`` s, but
          they are not the same length.

    Notes
    -----
    * Regex substitution is performed under the hood with ``re.sub``. The
      rules for substitution for ``re.sub`` are the same.
    * Regular expressions will only substitute on strings, meaning you
      cannot provide, for example, a regular expression matching floating
      point numbers and expect the columns in your frame that have a
      numeric dtype to be matched. However, if those floating point numbers
      *are* strings, then you can do this.
    * This method has *a lot* of options. You are encouraged to experiment
      and play with this method to gain intuition about how it works.